#textBox {
	display: inline-block;
    border: 5px solid black;
    height: 140px;
    padding: 5px;
	margin-bottom: 20px;
}

#caption {
    padding: 0 50px;
    min-height: 100px;
    border: 5px solid black;
}

#appWrapper {
	margin-bottom: -200px;
}

@media (min-width: 60em) {
	#ui {
		float: right;
		width: 35%;
	}
	#appWrapper {
		float: left;
		width: 60%;
	}
}
