html {
	font-family: 'Consolas', 'Arial', 'sans-serif';
}

#textBox {
	display: inline-block;
    border: 5px solid black;
    height: 100%;
    padding: 5px 30px;
	margin-bottom: 20px;
	width: 526px;   // matches app width
}

#caption {
    padding: 5px 30px;
    height: 100%;
    border: 5px solid black;
	width: 526px;
}

#appWrapper {
	margin-bottom: -200px;
}

@media (min-width: 60em) {
	#ui {
		float: right;
		width: 100%;
	}
	#appWrapper {
		float: left;
		width: 60%;
	}
}
