@media only screen and (max-width: 1719px) {
    #container {
        flex-direction: column;
        margin: 0;
    }
    .caption {
        top: 777px;
    }
    .text-box {
        height: 100%;
        margin: 22px 0;
        padding: 20px 50px;
        width: 740px;
    }
}
