body {
    margin: 50px;
    min-width: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#app {
    //border: 1px solid black;
}

.text-box {
    display: none;
    padding: 0 50px;
    width: 600px;
}

.title {
    font-family: 'Arial';
    font-size: 30px;
}

.content {
    font-family: 'Arial';
    font-size: 18px;
}

.caption {
    display: none;
    align-items: center;
    position: absolute;
    top: 800px;
    padding: 0 50px;
    height: 150px;
    width: 750px;
}

.caption-content {
    font-family: 'Arial';
    font-size: 18px;
}
